#tpl_error{display:block;width:100%;background-color:#fff;}
.tpl_error_lab{display:block;width:100%;position:relative;text-align:center;color:#666;font-size:0.3rem;margin-top:4.5rem;}
.tpl_error_lab2{display:block;width:100%;position:relative;text-align:center;color:#666;font-size:0.3rem;margin-top:0.1rem;}
.tpl_error_click{display:block;width:100%;position:relative;text-align:center;color:#666;font-size:0.3rem;margin-top:0.1rem;}
